* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
margin: 0 auto;
width: 100%;
height: 100vh;
/* background-color: rgb(129, 129, 208); */
}

.general-container {
  
  
}

/* HEADER SECTION */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.right-section {
  display: flex;
  justify-content: center;
  gap: 2rem;

}

.third-section {
  background: hsl(238, 22%, 44%);
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  color: white;
}

.email-input {
width: 80%;
padding: 0.8rem ;
border-radius: 5px;
border: none;
margin-bottom: 1rem;
}
.submit-btn{
padding: 0.8rem 2rem;
background:hsl(224, 93%, 58%) ;
border: none;
border-radius: 5px;
}


/* FOOTER */
footer {
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  background: hsl(243, 87%, 12%);
  padding: 3rem;
  color: white;

}

ul {
  list-style: none;
  line-height: 2rem;
}

.footer-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}